@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 204 10% 3.9%;
        --foreground: 210 20% 98%;
        --card: 204 10% 3.9%;
        --card-foreground: 210 20% 98%;
        --popover: 204 10% 3.9%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 210 20% 9.8%;
        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 20% 98%;
        --muted: 222.2 47.4% 11.2%;
        --muted-foreground: 215.4 16.3% 56.9%;
        --accent: 222.2 47.4% 11.2%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 222.2 47.4% 11.2%;
        --input: 222.2 47.4% 11.2%;
        --ring: 215 27.9% 53.1%;
        --radius: 0.5rem;

        --azul-claro: 180 100% 50%;
        --verde-claro: 145 100% 50%;
        --texto-claro: 0 0% 94.1%;
        --azul-botao: 200 100% 50%;
        --amarelo-status: 52 93% 60%;
        --vermelho-status: 0 100% 67%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    html {
        @apply scroll-smooth;
    }
}