@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* SUAS CORES */
        --azul-claro: 180 100% 50%;
        --verde-claro: 145 100% 50%;
        --texto-claro: 0 0% 94.1%;
        --azul-botao: 200 100% 50%;

        --background: 204 10% 3.9%;
        --foreground: 210 20% 98%;
        --card: 204 10% 3.9%;
        --card-foreground: 210 20% 98%;
        --border: 222.2 47.4% 11.2%;
        --ring: 215 27.9% 53.1%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply text-foreground;
        font-family: var(--font-poppins);
    }
}