h1.logo {
    letter-spacing: 2px; margin-bottom: 20px;
    color: var(--azul-claro); display: flex; justify-content: center; align-items: center;
}
.logo-container {
    display: flex;
    padding: 1rem 0 0 1rem;
}

.h1.logo::before {
    color: var(--verde-claro); font-size: 0.8em; margin-right: 10px; line-height: 1;
}

.logo-e {
    color: var(--verde-claro);
}